.footer {
    height: 700px;
    margin-top: 40px;
    &__map {
        position: relative;
        padding: 20px;
        text-align: center;
        iframe {
            width: 900px;
            height: 600px;
        }
    }
}